<div class="content-wrapper">
      <div class="columns">
        <div class="column is-one-third">
          <div class="feature-card is-bordered has-text-centered">
            <div class="card-title">
                {{ with .Get "title" }}<h4>{{ . }}</h4>{{ end }}
            </div>
            <div class="card-icon">
                {{ with .Get "icon" }}<img src="{{ . }}">{{ end }}
            </div>
            <div class="card-text">
                {{ with .Get "text" }}<p>{{ . }}</p>{{ end }}
            </div>
            <div class="card-action">
                {{ with .Get "url" }}<a href="{{ . }}"class="button btn-align-md accent-btn raised" target="_blank">Link</a> {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>